//  Global scope when listed above all
@use "palette";

$bold-weight: 900;
.btn {
    background-color: palette.$primary-background;

    &--alert {
        border: 2px solid red;
    }

    &__text {
        font-weight: $bold-weight;
        color: palette.$primary-text-color;

        &--primary {
            font-style: italic;

            &:hover {
                background-color: lightblue;
            }
        }

        &--secondary {
            color: green;
        }
    }
}

h1 {
    color: palette.$secondary-header-color;
}

h2 {
    color: palette.$secondary-header-color;
}