.container__text {
    text-decoration: underline;
    margin-left: 20px;
}

.container__text--italic {
    font-style: italic;
    text-decoration: none;
}

.container__text--lg {
    text-decoration: none;
    color: lightgray;
}

.container__text--std {
    text-decoration: none;
}

.container__text--bl {
    text-decoration: none;
    color: blue;
}

/* Calum solution */

.container__quote{
    font-style: italic;
}

.container__caption {
    color: lightgray;
}

.container__link {
    color: blue;
}

.container__subtitle {
    text-decoration: underline;
}

