// @media only screen and (min-width: val) and (max-width: val) {
// Code 
// }

button {
    background-color: royalblue;
    
    //phone size
    @media only screen and (min-width: 576px) {
        border-radius: 5px;
        background-color: red;
    }
    //Ipad in portrait mode size
    @media only screen and (min-width: 577px) and (max-width: 768px) {       
        background-color: purple;
    }

    @media only screen and (min-width: 769px) and (max-width: 992px) {
        border-radius: 5px;
        background-color: green;
    }

    @media only screen and (min-width: 993px) and (max-width: 1024px) {
        background-color: orange;
    }
    
}

.gallery {
    display: grid;
    @media only screen and (min-width: 576px) {
        grid-template-columns: 1fr;

        img {
            width: 90vw;
        }
    }

    @media only screen and (min-width: 577px) and (max-width: 768px) {       
        grid-template-columns: 1fr 1fr;

        img {
            width: 45vw;
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 30vw;
        }
    }

    @media only screen and (min-width: 993px) and (max-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 20vw;
        }
    }
    
}