button {
  background-color: royalblue;
}
@media only screen and (min-width: 576px) {
  button {
    border-radius: 5px;
    background-color: red;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  button {
    background-color: purple;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  button {
    border-radius: 5px;
    background-color: green;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  button {
    background-color: orange;
  }
}

.gallery {
  display: grid;
}
@media only screen and (min-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery img {
    width: 90vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery img {
    width: 45vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery img {
    width: 30vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery img {
    width: 20vw;
  }
}
